.carousel {
   // height: 350px;
   // width: 400px;
   object-fit: contain;
  .carousel-header {
    font-family: QTJupiter;
  }

  .carousel-description {
    font-family: monospace;
    font-size: 1rem;
  }
}
