.carousel {
  padding-top: 40px;

  #carousel-item {
    object-fit: contain;
    height: 75vh;
   //  padding-top: 0;
   //  margin-top: 0;
  }

  #kano-carousel-item {
    height: 60vh;
    object-fit: contain;
  }

  .carousel-caption {
    font-family: "RobotoMono-Regular";
    font-size: 0.9rem;
    text-transform: uppercase;
    mix-blend-mode: difference;
    margin: 0;
  }
}

/**************  BREAKPOINTS  ****************/

@media only screen and (max-width: 900px) {

   .carousel-caption {
      mix-blend-mode: difference;
   }
}

@media only screen and (max-width: 500px) {

   .carousel {
      display: none;
   }
}
