.carousel {
  #carousel-item {
    object-fit: contain;
    height: 80vh;
  }

  #kano-carousel-item {
   height: 60vh;
   object-fit: contain;
  }
  
  .carousel-caption {
    font-family: monospace;
    text-transform: uppercase;
      mix-blend-mode: difference;
  }
}

/**************  BREAKPOINTS  ****************/

// @media only screen and (max-width: 900px) {
//    .carousel-caption {
//       // mix-blend-mode: none;
//    }
// }
