/************  HERO / LANDING  *************/

#hero-image {
  position: fixed;
  margin-left: 55vw;
  height: 100vh;
  overflow: hidden;
  animation: fade 4s;
  opacity: 0.769;

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.769;
    }
  }
}

#title {
  font-family: "Celebrate-Retro";
  font-size: 4vw;
  top: 5vh;
  margin-left: 11vw;
  opacity: 1;
  animation: move 3s;
  line-height: 1;

  @keyframes move {
    from {
      margin-left: 5vw;
      opacity: 0;
    }
    to {
      margin-left: 11vw;
      opacity: 1;
    }
  }
}

/************ SIDE NAV LINKS ***************/

.side-nav {
  .side-nav-link {
    text-transform: uppercase;
    font-size: 0.97rem;
    font-family: "RobotoMono-Regular";

    li {
      height: 1.1px;
      width: 0px;
      z-index: 100;
    }
  }
}

/***************  SECTIONS  ****************/

section {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}

section .cover img #hero {
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
}

section .content {
  position: absolute;
  display: block;
  z-index: 2;
}

/****************  IMAGES  *****************/

.square {
  width: 45vw;
  float: right;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  background-color: hsla(0, 0%, 15%, 0.949);
  border-top: 1px solid rgba(253, 255, 246, 0.969);
}

.poster {
  width: 35vw;
  margin-left: 60vw;
  margin-top: 25vh;
  z-index: 4;
}

.poster-carousel {
  margin-top: 10vh;
}

.carousel-caption,
.last-caption,
.caption {
  padding-top: 20px;
  font-family: "RobotoMono-Regular";
  font-size: 0.7rem;
  text-transform: uppercase;
  color: rgba(253, 255, 246, 0.969);
}

/****************  FONTS  *****************/

.intro-position,
.description-position {
  top: 30vh;
  left: 3%;
  position: relative;
}

.process {
  margin-top: 30vh;
}

.overview,
.description {
  float: left;
  width: 35vw;
  margin-left: 15vw;
  font-family: "Vercetti";
  font-size: 0.9rem;
  line-height: 1.5;
  color: #212121;
}

.description {
  margin-top: 10vh;
}

.description-title,
.subtitle {
  font-family: "Vercetti";
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 10px 0 15px 0;
}

.subtitle {
  margin-left: 15vw;
  width: 35vw;
  line-height: 1.2;
}

.title-number {
  margin-top: 40%;
  font-size: 0.9rem;
  line-height: 1.5;
  font-family: "RobotoMono-Regular";
  text-transform: uppercase;
}

.project-type {
  font-family: "RobotoMono-Regular";
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 11vw;
  line-height: 1.4;
}

.website {
  font-family: "RobotoMono-Regular";
}

/**************  BREAKPOINTS  ****************/

//  large screens  //

@media only screen and (min-width: 900px) {
  #title {
    font-size: 4vw;
  }

  ul {
    position: fixed;
    display: block;
    margin-left: 25px;
    bottom: 40px;
    z-index: 3;
  }
}

//  medium screens  //

@media only screen and (max-width: 900px) {
  .project {
    padding: 0 5%;

    .content {
      padding-top: 131px !important;
    }

    section {
      height: 125vh;
      padding: 50px 0;
      img {
        padding-top: 20px;
      }
    }

    ul {
      display: none;
    }

    #hero-image {
      position: absolute;
      margin-left: 30%;
      width: 65vw;
      height: 60vh;
      opacity: 0.7;
      animation: none;
    } 

    #pettes-hero,
    #neuro-hero {
      margin-top: -5vh;
    }

    #title {
      margin-left: 0;
      font-size: 11vw;
      animation: none;
    }

    #resources {
      display: none;
    }

    .intro-position,
    .description-position {
      left: 0;
    }

    .square {
      opacity: 0;
    }

    .project-type,
    .description,
    .subtitle,
    .poster,
    .overview,
    .process {
      margin-left: 0;
      width: 100%;
    }

    .caption,
    .last-caption {
      color: rgb(19, 19, 19) !important;
      font-size: 0.69rem;
    }

    .last-caption {
      padding-bottom: 150px;
    }
  }
}

@media only screen and (min-width: 550px) {
  #mobile-images {
    display: none;
  }
}

@media only screen and (max-width: 549.99px) {
  #mobile-images {
    display: all;
  }
}
