.prev-next-nav {
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.prev-next-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-bottom: 30px;
  margin: 0;
}

.prev-link,
.next-link {
  font-family: "RobotoMono-Regular";
  font-size: 0.7rem;
  background: none;
  border: none;
  font-weight: normal;
  text-decoration: none;
  box-shadow: none;
  transition: color 0.2s, text-decoration 0.2s;
}

.theme-white .prev-link:hover,
.theme-white .next-link:hover,
.theme-black .prev-link:hover,
.theme-black .next-link:hover,
.prev-link:hover,
.next-link:hover {
  color: rgb(224, 146, 255) !important;
  background: none;
}
