/* ----------------- */
/* PORTFOLIO SECTION */
/* ----------------- */

.portfolio {
   margin-top: 100px;
   margin-bottom: 100px;
   padding: 0 5%;

   .portfolio-section {
      padding-bottom: 40px;
      width: 45vw;
   }

   .portfolio-header {
      font-family: "CELEBRATE RETRO";
      font-size: 2.3rem;
    }

    .portfolio-subheader {
      font-family: monospace;
      text-transform: uppercase;
      font-size: 1.1rem;
      padding: 7px 0;
    }

    .portfolio-description {
      font-size: 1rem;
   }

   .site-redesigns {
      font-size: 0.9rem;
      font-family: monospace;
   
      .sites-divider {
         padding: 0 17px;
      }
   
      a:hover {
         font-weight: bolder;
      }
   }
}

// PORTFOLIO LINK HEADERS

.work-type {
  float: right;
  margin-left: 20px;
  font-family: "Roboto mono", monospace;
  font-size: 1rem;
}

.work-item-1,
.work-item-3,
.work-item-6 {
  font-family: "Neue Machina";
}

.work-item-2,
.work-item-5 {
  font-family: "Neue Metana";
  margin-left: 15vw;
}

.work-item-4,
.work-item-7 {
  font-family: "QTJupiter";
  margin-left: 35vw;
}

.work-item-1:hover,
.work-item-2:hover,
.work-item-3:hover,
.work-item-4:hover,
.work-item-5:hover,
.work-item-6:hover,
.work-item-7:hover {
   font-style: oblique;
   font-weight: bolder;
}


/* portfolio: HOVER LINKS */

.link {
  display: flex;
  width: 100%;
  border-bottom: solid 1px;
  display: flex;
  padding: 2.5% 0;
  justify-content: space-between;
  cursor: pointer;
}

.link span {
  display: block;
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
}

.hover-reveal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
//   pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.69s ease-out;

  .hidden-img {
   width: 25%;
   height: 175px;
   object-fit: cover;
   transition: transform 0.4s ease-out;
 }
}
