.theme-options {
  position: fixed;
  right: 0;
  margin-top: 9px;
  z-index: 100;
  font-family: "RobotoMono-Regular";
  font-size: 0.8rem;
  background-color: none;

  .dark,
  .light {
    cursor: pointer;
    display: inline-block;
   }
}

/************** WHITE **************/

.App.theme-white,
.header.theme-white,
.footer.theme-white,
#theme-white {
  background-color: rgba(251, 255, 234);
  color: rgba(31, 30, 27);
  .website:hover,
  .side-nav-link:hover,
  #previous:hover,
  #next:hover {
    color: rgb(118, 154, 47) !important;
    transition: 0.3s !important;
  }
}

/************** BLACK **************/

.App.theme-black,
.header.theme-black,
.footer.theme-black,
#theme-black {
  font-weight: 100;
  background-color: rgba(31, 30, 27);
  color: rgba(251, 255, 234);
  p,
  li,
  a {
    color: rgba(251, 255, 234) !important;
  }
  .website {
   font-weight: bold;
   font-size: 1rem;
  }
  .website:hover,
  .side-nav-link:hover,
  #previous:hover,
  #next:hover {
    color: rgb(240, 172, 255) !important;
    transition: 0.3s !important;
  }
  .last-caption,
  .caption {
    color: rgba(251, 255, 234, 0.969);
  }
}

/*************  BREAK POINTS  **************/

@media only screen and (max-width: 900px) {
  .theme-options {
    bottom: 0;
    position: fixed;
    margin-left: 5%;
    //  margin-bottom: 7px;
    margin: 7px 2px;
    z-index: 1500;

  }
}
