.about-section {
  padding: 0 5%;
  height: 100vh;
  margin-top: 100px;

  .about-heading {
    font-size: 2.7rem;
    font-family: "Celebrate-Retro";
    line-height: 0.9em;
    padding-bottom: 30px;
  }

  .about-summary {
    width: 40vw;
    font-family: "Vercetti";
    font-size: 0.9rem;
  }

  .about-me {
    margin-left: 50%;
    margin-top: -150px;
    padding-left: 10px;

    .me {
      object-fit: cover;
      z-index: 0;
      width: 30vw;
    }
  }

  .favorite-things-card {
      // background-color: rgb(212, 193, 255);
      // padding: 10px;
      // border: 1px solid;
      // border-radius: 15px;
    .favorite-things {
      padding-top: 25px;
      font-size: 0.75rem;
      font-family: "RobotoMono-Regular";
      text-transform: uppercase;
    }
  }
}

/**************  BREAKPOINTS  ****************/

@media screen and (max-width: 850px) {
  .about-section {
    padding: 0 2rem;
    margin: 7rem 0;

    .about-summary {
      width: 100%;
    }

    .about-me {
      margin-left: 0;
      margin-top: 0;
      padding-left: 0;

      .me {
        width: 80%;
      }

    }
    .about-heading {
      font-size: 3rem;
    }
  }
}
