.about-section {
  padding: 0 15%;
  height: 100vh;
  margin: 25vh 0 20vh 0;

  .about-heading {
    font-size: 2.7rem;
    font-family: "Celebrate-Retro";
    line-height: 0.9em;
    padding-bottom: 30px;
    width: 35vw;
  }

  .about-summary {
    font-family: "Vercetti";
    font-size: 0.9rem;
    width: 35vw;
  }

  .about-me {
   margin-top: -200px;
   max-width: 450px;
   float: right;
   width: 30vw; 
   padding-left: 50px;
    .me {
      object-fit: cover;
      
    }
    .favorite-things {
      padding-top: 25px;
      font-size: 0.75rem;
      font-family: "RobotoMono-Regular";
      text-transform: uppercase;
    }
  }
}

/**************  BREAKPOINTS  ****************/

@media screen and (max-width: 850px) {
  .about-section {
      margin: 100px 0 50px 0;  

     .about-heading {
       font-size: 2rem;
       width: 100%;
     }
    .about-summary {
       width: 100%;
      }
      
    .about-me {
      margin-left: 0;
      margin-top: 0;
      padding-left: 0;
      width: 100%;
    }

    .favorite-things {
      margin-bottom: 150px;
    }

  }

  
}