.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  padding: 15% 5%;
  overflow: hidden;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 5% 3%;
    width: 100vw;
    overflow: visible;
    height: auto !important;
    min-height: unset !important;
    padding-bottom: 20px;
  }
}

.content {
  width: 45%;
  position: relative;
  display: block;
  z-index: 2;

  @media (max-width: 900px) {
    width: 100vw;
    padding-bottom: 2rem;
    position: relative;
    padding: 2% 5%;
  }
}

#hero-image {
  width: 47%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100vh;
  object-fit: contain;
  overflow: hidden;
  animation: fade 4s;
  pointer-events: none;

  @media (max-width: 900px) {
    width: 100vw;
    object-fit: cover;
    height: auto;
    min-height: unset;
    max-height: 300px;
    position: static;
    top: 0;
    margin-bottom: 2rem;
    margin-top: 30px !important;
  }
  }

  // Ensure tab content is always 20px below the tab buttons on mobile
  @media (max-width: 900px) {
    .tab-content, .tab-row {
      margin-top: 20px !important;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.969;
    }
  }
}

#title {
  font-family: "Celebrate-Retro";
  font-size: 6rem;
  animation: move 3s;
  line-height: 0.8;
  width: fit-content;

  @keyframes move {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @media (max-width: 700px) {
    font-size: 3.3rem;
  }
}

.bold-link {
  font-weight: bold;
}

.overview,
.description {
  font-family: "Vercetti";
  font-size: 0.9rem;
}

.subtitle {
  font-family: "Vercetti";
  font-weight: bold;
  font-size: 1.4rem;
  padding: 15px 0;
  line-height: 1.1;
}

.project-type {
  font-family: "RobotoMono-Regular";
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.4;
}
