.footer-container {
  display: flex;
  // justify-content: space-between;
  background-color: var(--background-color);
}

.footer {
  z-index: 100;
  position: fixed;
  width: 100vw;
  padding: 2vh 5vw;
  font-size: 0.8rem;
  font-family: "RobotoMono-Regular";
  text-transform: uppercase;
  border-top: 1px solid;
  bottom: 0;

  .footer-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .footer-resume-link:hover,
  .footer-email-link:hover {
    font-size: 1.5rem;
    transition: 0.5s !important;
  }
}

.footer-links-divider {
  margin: 0 5vw;
}

@media (max-width: 900px) {
  .footer-links {
    .footer-resume-link:hover,
    .footer-email-link:hover {
      font-size: 1rem;
      transition: 0.5s !important;
    }
  }
}
