*, *::after, *::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.App {
   margin: 0;
   z-index: 0;
   display: flex;
   flex-direction: column;
   word-wrap: break-word;
   scroll-behavior: smooth;
   box-sizing: border-box;
   height: 100vh;
   width: 100%;
   overflow-x: hidden;
   background: rgba(252, 246, 255, 0.998);
   background-blend-mode: difference;
}

/*************  ACCESSIBILITY  **************/

/* screen reader */

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap; /* added line */
   border: 0;
}

/* remove animations if on */

@media (prefers-reduced-motion: reduce) {
   *,
   *::before,
   *::after {
       animation-duration: 0.01ms !important;
       animation-iteration-count: 1 !important;
       transition-duration: 0.01ms !important;
       scroll-behavior: auto !important;
   }
}

/*************  CUSTOM STYLING  **************/

/* layout */

.container {
   margin-left: auto;
   margin-right: auto;
}

.grid {
   display: flex grid;
   gap: 1.5rem;
}

/* font sizes */

:root {
   --h1-font-size: 8.5rem;
   --h2-font-size: 4.1rem;
   --h3-font-size: 3rem;
   --normal-font-size: 1rem;
   --small-font-size: 0.9rem;
   --tiny-font-size: 0.7rem;
}

/* responsive font sizes */

@media screen and (max-width: 992px) {
   :root {
      --h1-font-size: 2.7rem;
      --h2-font-size: 2rem;
      --h3-font-size: 1.5rem;
   }
}

/* images */

img,
picture {
    max-width: 100%;
    display: block;
}

/* links / lists */

a,
a:hover,
a:visited {
    text-decoration: none!important;
    cursor: pointer;
    color: black!important;
}

ul {
   list-style: none;
}

/* custom scroll */

::-webkit-scrollbar {
   width: 3px;
}

::-webkit-scrollbar-thumb {
   background-color: olivedrab;
   border-radius: 5px;
}

::-webkit-scrollbar-button {
   display: none;
}

/* background */

.noise::before {
   position: fixed;
   background-size: cover;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   content: "";
   z-index: -1; 
   background: url(https://media2.giphy.com/media/x49KCWxpgqJLfpMnFm/giphy.gif?cid=790b7611c8c59614ec9082bd2d2622a77dff0ef3e54169ae&rid=giphy.gif&ct=g);
}

/*************  BREAK POINTS  **************/

/* large devices */

@media screen and (max-width: 992px) {

}

/* medium devices */

@media screen and (max-width: 768px) {
   
}

@media screen and (max-width: 576px) {
   
}

/* small devices */


@media screen and (max-width: 350px) {
   
}