*, *::after, *::before {
   margin: 0;
   padding: 0;
   // box-sizing: border-box;
}

/*****************  FONTS  ******************/

@font-face {
   font-family: "Vercetti";
   src: local("Vercetti"), 
   url("./Fonts/Vercetti-Regular.otf");
}

@font-face {
   font-family: CELEBRATE RETRO;
   src: local("Celebrate-Retro"),
   url("./Fonts/Celebrate-Retro.otf");
}

.App {
   margin: 0;
   z-index: 0;
   display: flex;
   flex-direction: column;
   word-wrap: break-word;
   scroll-behavior: smooth;
   box-sizing: border-box;
   height: 100vh;
   width: 100%;
   overflow-x: hidden;
   background: rgba(253, 255, 246, 0.969);

   p {
      font-family: "Vercetti";
      font-size: 0.95rem;
   }

   // h1 {

   // }
}


/*************  ACCESSIBILITY  **************/

/* screen reader */

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap; /* added line */
   border: 0;
}

/* remove animations if on */

@media (prefers-reduced-motion: reduce) {
   *,
   *::before,
   *::after {
       animation-duration: 0.01ms !important;
       animation-iteration-count: 1 !important;
       transition-duration: 0.01ms !important;
       scroll-behavior: auto !important;
   }
}

/*************  CUSTOM STYLING  **************/

/* layout */

.container {
   margin-left: auto;
   margin-right: auto;
}

.grid {
   display: flex grid;
   gap: 1.5rem;
}

/* font sizes */

// :root {
//    --h1-font-size: 8.5rem;
//    --h2-font-size: 4.1rem;
//    --h3-font-size: 3rem;
//    --normal-font-size: 1rem;
//    --small-font-size: 0.9rem;
//    --tiny-font-size: 0.7rem;
// }

/* responsive font sizes */

// @media screen and (max-width: 992px) {
//    :root {
//       --h1-font-size: 2.7rem;
//       --h2-font-size: 2rem;
//       --h3-font-size: 1.5rem;
//    }
// }

/* images */

img,
picture {
    max-width: 100%;
    display: block;
}

/* links / lists */

a,
a:hover,
a:visited {
    text-decoration: none!important;
    cursor: pointer;
    color: black!important;
}

ul, 
li {
   list-style: none;
}

/* custom scroll */

::-webkit-scrollbar {
   width: 3px;
}

::-webkit-scrollbar-thumb {
   background-color: olivedrab;
   border-radius: 5px;
}

::-webkit-scrollbar-button {
   display: none;
}

/* background */

.noise::before {
   position: fixed;
  
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   content: "";
   z-index: -1;
   background: url(https://media1.giphy.com/media/oy7wGVaohJYe4/giphy.gif?cid=ecf05e47w9zfo9w5e69oarasbvyxg47ic22xvvyfl250qfaq&rid=giphy.gif&ct=g); 
   background-size: cover!important;
   // background: url(https://media0.giphy.com/media/8w2ZGnUDuCiGxHvPlh/giphy.gif?cid=ecf05e470hkdijnwcv1rrhzdifvdp2utbkps1sg85o9f5wso&rid=giphy.gif&ct=g);
   // background: url(https://media0.giphy.com/media/8lTkzmiEOZ9U6y1UFV/giphy.gif?cid=790b7611d32ec8e171d518430c2a01747a7791610834a6d2&rid=giphy.gif&ct=g);
   // background: url(https://media4.giphy.com/media/9JgcrlWyZsNYALnAEo/giphy.gif?cid=790b7611cb948175a2994da54170716c36a408abf4bfc297&rid=giphy.gif&ct=g);

}

/*************  BREAK POINTS  **************/

/* large devices */

// @media screen and (max-width: 480px) {
//    .App {
//       padding: 0.5rem 1rem;
//    }
// }
