/****************   HOME   *****************/

.main-container {
  height: 100vh;
  margin-top: 20px;
  padding: 2% 5%;
  display: flex;
  align-items: flex-end;
  position: relative;
  
  .home-page-title {
    z-index: 0;
    font-size: clamp(3rem, 20vw, 9.5rem);
    max-width: 100vw;
    padding-right: 5%;
    line-height: .9;
    font-weight: bold;
    margin-bottom: 15vh;
    font-family: "Celebrate-Retro";
    text-transform: uppercase;
    word-wrap: break-word;
  }
   @media (max-width: 700px) {
    .home-page-title {
       font-size: clamp(3rem, 20vw, 8rem);
    }
  }
    @media (max-width: 500px) {
    .home-page-title {
       font-size: clamp(3rem, 20vw, 6rem);
    }
  }

}
