/****************   HOME   *****************/

.main-container {
  height: 100vh;
  margin-top: 20px;
  padding: 2% 5%;
  display: flex;
  align-items: flex-end;
  position: relative;
  
  .home-page-title {
    z-index: 0;
    font-size: 11rem;
    line-height: 0.7em;
    font-weight: bold;
    margin-bottom: 15vh;
    font-family: "Celebrate-Retro";
    text-transform: uppercase;
    word-wrap: break-word;
  }
   @media (max-width: 900px) {
    .home-page-title {
      font-size: 7rem;
    }
  }

}
